<section class="py-16 bg-gray-100">
  <div class="container xl:w-[95%]">
    <h2 class="pt-3 text-3xl md:text-4xl font-bold text-center text-main
         mb-8 tracking-wide
         drop-shadow-sm
         transition-colors duration-300">
      Shop All Populars
    </h2>
    <div class="mb-3">
      <input type="search" id="search" class="main-input" placeholder="Search By Product Title..." [(ngModel)]="text">
    </div>

    <div class="parent mt-6 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      @for(product of productList()| paginate:pagination | search: text; track product._id){
      <app-card [cardProduct]="product"></app-card>
      }@empty {
      <div class="empty-box">
        No products found
      </div>
      }

    </div>
    <div class="mt-6 flex flex-wrap justify-center my-pagination">
      <pagination-controls id="products" (pageChange)="pageChanged($event)"></pagination-controls>

    </div>
  </div>
</section>