<section class="pb-16 bg-gray-100">
  <div class="container xl:w-[95%]">
    <h2 class="pt-3 text-3xl md:text-4xl font-bold text-center text-main
         mb-8 tracking-wide
         drop-shadow-sm
         transition-colors duration-300">
      Shop Popular Products
    </h2>

    <div class="parent mt-6 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      @if(productList().length > 0) {
      @for(product of productList().slice(0,15); track product._id){
      <app-card [cardProduct]="product"></app-card>
      }
      }

    </div>
  </div>
</section>