@import 'tailwindcss';
@import 'flowbite/src/themes/default';
body {
  font-family: 'font-family: "Epunda Slab", serif;';
}
@theme {
  --color-main: #9c6644;
  --color-cecond: #7f5539;
  --color-3: #b08968;
  --color-4: #ddb892;
  --color-5: #e6ccb2;
  --color-6: #ede0d4;
}

.btn-main {
  @apply bg-main py-2 px-5 border border-gray-300 rounded-[5px] text-white cursor-pointer
         disabled:cursor-not-allowed disabled:bg-gray-300 disabled:hover:bg-gray-300
         hover:bg-4 transition-transform duration-500;
}

.card {
  @apply border border-gray-200 shadow rounded p-2;
}

@layer components {
  .nav-item {
    @apply relative px-4 py-2 transition-all duration-300
           hover:bg-4 hover:backdrop-blur-md hover:rounded-full hover:text-gray-800;
  }

  .nav-active {
    @apply bg-6 text-gray-800 backdrop-blur-lg rounded-full
           border-t border-b border-white/60 shadow-sm;
  }
  .main-input {
  @apply w-full px-4 py-3 text-sm rounded-xl
         bg-gray-50
         border border-gray-300
         text-gray-800
         placeholder:text-gray-400
         transition-all duration-300;
}

/* Hover */
.main-input:hover {
  @apply border-main bg-white;
}

/* Focus */
.main-input:focus {
  @apply outline-none border-main bg-white;
  box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.15); /* glow ناعم */
}

/* Error State */
.input-error {
  @apply border-red-500 bg-red-50;
}

.input-error:focus {
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.15);
}

/* Label */
.main-label {
  @apply block mb-2 text-sm font-medium text-gray-600;
}

}

@layer utilities {
  .container {
    margin: 0 auto;
  }
}
